/venv
/sqlserver-backups
/sqlserver-data
/plugins
/ollama
/__pycache__
/nextCloudTables
/chatbot_specialist/__pycache__
/chatbot_specialist/.env
/chatbot_specialist/diagnostics/
/chatbot_hybrid/__pycache__
/chatbot_hybrid/.env
/chatbot_singleAgent/__pycache__
/chatbot_specialist/graphNeo4j/__pycache__
/chatbot_specialist/validation_set/__pycache__
/chatbot_singleAgent/.env
/.svnignore
/.svn
/llama3_cypher_expert/llama3_finetuned
llama3_cypher_expert/llama3_finetuned/adapter_model.safetensors
/Prompt_Engineering_with_Llama_3.ipynb