# In config/system.yaml
fuzzy_matching:
  enabled: false
  
entity_resolver:
  fuzzy_min_score: 0.65
  fuzzy_max_results: 3
  ambiguity_delta: 0.08
  
  # Mappa ogni LABEL alle sue proprietà uniche
  entity_definitions:
    Cliente:
      index: "clienti_fuzzy"     # Nome dell'indice Full-Text
      property: "name"           # Proprietà testuale da cercare
    GruppoFornitore:
      index: "fornitori_fuzzy"
      property: "ragioneSociale"
    Articolo:
      index: "articoli_fuzzy"
      property: "descrizione"
    Luogo:
      index: "luoghi_fuzzy"
      property: "localita"
    Famiglia:
      index: "famiglie_fuzzy"
      property: "nome"
    Sottofamiglia:
      index: "sottofamiglie_fuzzy"
      property: "nome"
    DocType:
      index: "doctype_fuzzy"
      property: "name"
    # L'ID Ditta non ha un indice FUZZY, 
    # ma ha una proprietà di match esatto
    Ditta:
      property: "dittaId"
      index: null # Nessun indice fuzzy