agent_models:
  coder: llama3
  contextualizer: gpt-4o-mini
  router: gpt-4o-mini
  synthesizer: llama3
  translator: gpt-4o-mini
available_models:
  gpt-4o:
    model_name: gpt-4o
    provider: openai
  gpt-4o-mini:
    model_name: gpt-4o-mini
    provider: openai
  llama3:
    model_name: llama3
    provider: ollama
  mistral:
    model_name: mistral
    provider: ollama
providers:
  ollama:
    base_url: http://172.16.30.23:11434
    timeout: 120
  openai:
    api_key_env: OPENAI_API_KEY
    temperature: 0
    timeout: 120
